* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #1e252b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  height: 767px;
  background-color: #1e252b;
  background-image: url(../assets/pexels-francesco-ungaro-998641\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-dark {
  width: 1290px;
  height: 56px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.navegation {
  width: 265px;
  height: 24px;
  /* background-color: pink; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navegation > a {
  color: #ff0a0a;
  /* background-color: #1e252b; */
  text-decoration: none;
}

.buttons > a {
  width: 155px;
  height: 56px;
  margin-top: 35px;
  background-color: #ff0a0a;
  color: white;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  padding: 16px 24px;
}

#apresentation {
  width: 100vh;
  display: flex;
  gap: 100px;
}

#info {
  width: 544px;
  height: 270px;
  /* background-color: palevioletred; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
  justify-content: center;
  margin-left: 160px;
  margin-top: 172px;
}

#info > h3 {
  color: #748fb5;
}

#info > h1 {
  color: white;
}

#info > p {
  color: #748fb5;
}

#info__a {
  display: flex;
  gap: 24px;
}

#info__a > a {
  text-decoration: none;
}

#descubra {
  width: 170px;
  height: 56px;
  background-color: #ff0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 16px, 24px, 16px, 24px;
  border: 2px solid rgba(255, 255, 255, 0);
  gap: 10px;
  color: white;
}

#youtube {
  width: 259px;
  height: 56px;
  color: white;
  border-radius: 16px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px, 24px, 12px, 24px;
  gap: 10px;
}

#me {
  width: 421px;
  height: 423px;
  /* background-color: aqua; */
  margin-top: 99px;
  display: flex;
  align-items: center;
}

#pic-me {
  position: absolute;
}

#coment {
  width: 261px;
  height: 84px;
  background-color: aliceblue;
  position: relative;
  border-radius: 24px;
  padding: 18px, 36px, 18px, 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

#avaliation {
  width: 261px;
  height: 84px;
  background-color: aliceblue;
  position: relative;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

#avatar {
  width: 35px;
  height: 35px;
}

.coment__text > p {
  color: #626262;
}

/* header */

#main {
  width: 100%;
  height: 836px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 69px;
  margin-top: 94px;
}

#skills > h1 {
  color: white;
  font-size: 48px;
  font-weight: 600;
}

#skills > p {
  color: #7e95aa;
  font-size: 20px;
  font-weight: 400;
}

#skills > img {
  padding: 0px 160px 0px 160px;
}

/* main  */

footer {
  width: 100%;
  height: 417px;
  background-color: #18222a;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer__content {
  width: 1120px;
  height: 306px;
  /* background-color: #ff0a0a; */
  margin-bottom: 54px;
}

#footer__content > h1 {
  margin-top: 164px;
  color: white;
}

#footer__content > p {
  color: #7e95aa;
  margin-top: 28px;
  margin-bottom: 54px;
}

#retangulo {
  width: 1120px;
  height: 2px;
  background-color: #748fb5;
  margin-bottom: 24px;
}

.footer__extra {
  display: flex;
  justify-content: space-between;
}

.footer__extra > p {
  color: #7e95aa;
}

.footer__a {
  display: flex;
  gap: 24px;
}

.icons {
  height: 16px;
}
